<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kütyüshop - Főoldal</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
      
    <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Kütyüshop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Kezdőlap</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Termékek
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/phones">Mobiltelefonok</a></li>
                  <li><a class="dropdown-item" href="/phonecases">Telefontokok</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/watches">Okosórák</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- BACKGROUND IMAGE -->
    <div class="backgroundImage"></div>
    <div class="backgroundContent">
      <h2>Mobiltelefonok és okosórák most akár 25% kedvezménnyel!</h2>
      <a href="/phones"><button type="button" class="btn btn-success backgroundButton">Érdekel</button></a>
    </div>




    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>